version: "3.8"

services:
    web:
        build:
            context: ./
            dockerfile: Dockerfile
        image: birthday_web
        # '/start' is the shell script used to run the service
        command: /start
        # this volume is used to map the files and folders on the host to the container
        # so if we change code on the host, code in the docker container will also be changed
        volumes:
            - .:/app
        ports:
            - "8010:8000"
            - "587:587"
        restart: always
        # env_file is used to manage the env variables of our project
        env_file:
            - birthday/.env
        depends_on:
            - redis
            - db
    db:
        image: postgres:12.0-alpine
        volumes:
            - postgres_data:/var/lib/postgresql/data/
        restart: always
        environment:
            - POSTGRES_DB=hello_django_dev
            - POSTGRES_USER=hello_django
            - POSTGRES_PASSWORD=hello_django

    redis:
        image: redis:5-alpine

    celery_worker:
        build:
            context: ./
            dockerfile: Dockerfile
        image: birthday_celery_worker
        command: /start-celeryworker
        volumes:
            - .:/app
        restart: always
        env_file:
            - birthday/.env
        depends_on:
            - redis
            - db

    celery_beat:
        build:
            context: ./
            dockerfile: Dockerfile
        image: birthday_celery_beat
        command: /start-celerybeat
        volumes:
            - .:/app
        restart: always
        env_file:
            - birthday/.env
        depends_on:
            - redis
            - db

    flower:
        build:
            context: ./
            dockerfile: Dockerfile
        image: birthday_celery_flower
        command: /start-flower
        volumes:
            - .:/app
        restart: always
        env_file:
            - birthday/.env
        ports:
            - "5557:5555"
        depends_on:
            - redis
            - db

volumes:
    postgres_data: