version: '3.8'

services:
  nginx:
    build: ./compose/production/nginx
    restart: always
    ports:
      - "80:80"
      - "5555:5555"
      - "15672:15672"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
    depends_on:
      - web
      - flower
      - react-app

  web:
    build:
      context: .
      dockerfile: ./compose/production/django/Dockerfile
    command: /start
    env_file:
      - ./.env/.prod
    depends_on:
      - redis
      - db

  react_app:
    build:
      context: .
      dockerfile: ./compose/production/react/Dockerfile
      args:
        - REACT_APP_NAME1=EvgeniyOm-prod
    stdin_open: true
    tty: true
#    command: /start-react
    depends_on:
      - web

  db:
    image: postgres:12.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=hello_django_dev
      - POSTGRES_USER=hello_django
      - POSTGRES_PASSWORD=hello_django

  redis:
    image: redis:5-alpine

  rabbitmq:
    image: rabbitmq:3-management
    env_file:
      - ./.env/.prod

  celery_worker:
    build:
      context: .
      dockerfile: ./compose/production/django/Dockerfile
    image: django_celery_worker
    command: /start-celeryworker
    env_file:
      - ./.env/.prod
    depends_on:
      - redis
      - db

  celery_beat:
    build:
      context: .
      dockerfile: ./compose/production/django/Dockerfile
    image: django_celery_beat
    command: /start-celerybeat
    env_file:
      - ./.env/.prod
    depends_on:
      - redis
      - db

  flower:
    build:
      context: .
      dockerfile: ./compose/production/django/Dockerfile
    image: django_celery_flower
    command: /start-flower
    env_file:
      - ./.env/.prod
    depends_on:
      - redis
      - db

volumes:
  postgres_data:
